.button-state button{
    color:white;
    width: 86px;
    height: 32px;
    margin: 12px 43px 24px 43px;
    padding: 6px 17px;
    border-radius: 4px;
    background-color:#FFAE61 
}
.button-state button.click_style {
    background-color:#FA9847 
}
.button-state button.hover_style {
    background-color:#FFC06A 
}
.button-state button.default_style{
    background-color: #FFAE61 
}