.Item{
    display: inline-block;
}
.Item img{
    display: block;
    border-radius: 16px;
    margin: auto;
}
.Item button{
    color:white;
    width: 86px;
    height: 32px;
    margin: 12px 43px 24px 43px;
    padding: 6px 17px;
    border-radius: 4px;
    background-color:#FFAE61 
}
.Item button.click_style {
    background-color:#FA9847 
}
.Item button.hover_style {
    background-color:#FFC06A 
}
.Item button.default_style{
    background-color: #FFAE61 
}
#myProgress {
    width: 100%;
}
#myBar {
    margin-top: 18px;
    margin-left: 10.5px;
    margin-right: 10.5px;
    width: 0px;
    height:4px;
    text-align: center;
    line-height: 5px;
    color: white;
}
#myProgress p{
    width:45px;
    height:20px;
    font-size:14px;
    font-family:NotoSansCJKsc-Regular;
    color:rgba(94,94,94,0.6);
    line-height:20px;
    margin: 0 auto;
}
.appInstalled{
    width:86px;
    height:32px;
    background:linear-gradient(rgba(255,255,255,1),rgba(253,253,253,1));
    border-radius:4px ;
}
.appInstalled span{
    width:28px;
    height:20px;
    font-size:14px;
    font-family:NotoSansCJKsc-Regular;
    color:rgba(94,94,94,1);
    line-height:20px;
}
.installingBar{
    width:75px;
    height:4px;
    background:rgba(30,178,255,1);
    border-radius: 3px ;
}
.downloadingBar{
    width:47px;
    height:4px;
    background:rgba(255,174,97,1);
    border-radius: 3px ;
}


.ItemTwo{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
  }
  .demo-top img{
    border-radius: 4px ; 
  }
  
  .demo-bottom{
    display: flex;
    justify-content: space-between;
    width: 260px;
    height:46px;
   
  }
  
  .demo-bottom button{
    width:80px;
    height:32px; 
    border-radius:4px ; 
    margin: 7px 8px 7px 114px;
    font-size:14px;
    font-family:NotoSansCJKsc-Regular;
    color:rgba(94,94,94,1);
    line-height:20px;
  }
  #one{
   width:58px;
  height:24px; 
  font-size:16px;
  font-family:NotoSansCJKsc-Regular;
  color:rgba(94,94,94,1);
  line-height:24px;
  margin: 0px;
  }
  #two{
    margin-top: 2px;
    width:56px;
    height:20px; 
    font-size:14px;
    font-family:NotoSansCJKsc-Regular;
    color:rgba(94,94,94,1);
    line-height:20px;
  }
  button span{
    width:48px;
    height:20px; 
    font-size:14px;
    font-family:NotoSansCJKsc-Regular;
    color:rgba(94,94,94,1);
    line-height:20px;
    margin: 0px
  }
  
  .demo-bottom button.click_style {
    background-color:#FA9847
  }
  .demo-bottom button.hover_style {
    background-color:#FFC06A
  
  }
  .demo-bottom button.default_style{
   background:linear-gradient(rgba(255,255,255,1),rgba(253,253,253,1));
   
  }
  
  #myProgressTwo {
    flex-basis: 100px;
    }
    
    #myBarTwo {
    margin-top: 18px;
    margin-left: 10.5px;
    margin-right: 10.5px;
    width: 0px;
    height:4px; 
    text-align: center;
    line-height: 5px;
    color: white;
    
    }
    #myProgressTwo p{
    width:45px;
    height:20px; 
    font-size:14px;
    font-family:NotoSansCJKsc-Regular;
    color:rgba(94,94,94,0.6);
    line-height:20px;
    margin: 0 auto;
    }