.dropdown-menu-item {
}

.dropdown-menu-item a {
    padding: 3px 24px;
    line-height: 26px;
    height: 26px;
    display: block;
    text-decoration: none;
    color: #5e5e5e;
    font-size: 14px;
    text-align: left;
}

.dropdown-menu-item .badge .badge-counter--num {
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    position: relative;
    border-radius: 8px;
    background:rgba(94,94,94,.4);
    margin-left: 44px;
}